@font-face {
    font-family: 'Ustroke';
    src: local('Ustroke Regular'), local('Ustroke-Regular'), url('Ustrokeregular.woff2') format('woff2'), url('Ustrokeregular.woff') format('woff'), url('Ustrokeregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
