.KeyboardForGame {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.OneCell {
    width: 40px;
    margin: 5px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    box-sizing: border-box;
}

.OneCell>img {
    width: 100%;
}

.abc {
    font-size: 40px;

    position: absolute;

    left: calc(50% / 3);
    top: calc(50% / 3);
    z-index: 1;
}

.OneCell:hover,
.abc:hover {
    scale: 102%;
}